
#Autocomplete {
    align-self: center;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    border: rgb(42, 72, 34);
}

.css-108j1ea-MuiAutocomplete-root .MuiFilledInput-root.MuiInputBase-hiddenLabel {
    height: 4%;
}

.MuiAutocomplete-hasPopupIcon {
    margin-top: 3%;
    background-color: white;
    border: rgb(42, 72, 34);
}