#homepage-header-section {
    display: flex;
    background-image: url('../assets/Hiking-Trail.jpg');
    background-position: center top -150px;
    background-size: cover;
    height: 50vh;
    justify-content: center;
}

#homepage-content {
    margin-top: 15vh;
    padding: 20px;
    margin-bottom: 100px;
}

#homepage-header {
    color:white;
    margin: 0;
    text-align: center;
    font-size: 4rem;
    font-family:"DMSerif";
}