#rec-area-page-body {
    display: flex;
    flex-direction: column;
}

#rec-area-map {
    display: flex;
    height: max-content;
    justify-content: center;
}

#rec-area-page-image {
    width: 50vw;
    height: 50vh;
}

.park-page-name {
    color: rgb(42, 72, 34);
    font-size: 2rem;
    margin: 20px;
    margin-bottom: 0;
    text-align: left;
    text-decoration: underline;
    font-family: 'DMSerifReg';
}

#park-information {
    display: flex;
    width: 100vw;
    font-family: 'DMSerifReg';
}

#activities-wrapper {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 40px;
    margin: 20px;
    overflow-x: scroll;
}

#activities-header {
    color: rgb(42, 72, 34);
    font-size: 20px;
    text-decoration: underline;
    margin: 20px;
    font-family: 'DMSerifReg';
}

#activity {
    color: rgb(42, 72, 34);
    font-family: 'DMSerifReg';
}

.park-page-name-and-description-wrapper {
    display: flex;
    flex-direction: column;
}

.park-description {
    margin: 20px;
    text-indent: 10px;
    color: rgb(42, 72, 34);
    text-align: left;
}

#activity-image {
    width: 25vw;
    height: 25vw;
}

#activity-description {
    width: 25vw;
}


