@font-face {
  font-family: 'Pacifico';
  src: url('./assets/Pacifico-Regular.ttf')
}

@font-face {
  font-family: 'DMSerif';
  src: url('./assets/DMSerifDisplay-Italic.ttf')
}

@font-face {
  font-family: 'DMSerifReg';
  src: url('./assets/DMSerifDisplay-Regular.ttf');
}

body {
  margin: 0;
}

* {
  font-family: 'DMSerifReg';
  color: rgb(42, 72, 34);
}